
	<%- include('partials/header.html') %>


			<!-- start banner Area -->
			<section class="banner-area" id="home">	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h5 class="text-white text-uppercase">Author: Travor James</h5>
							<h1 class="text-uppercase">
								New Adventure				
							</h1>
							<p class="text-white pt-20 pb-20">
									Reading A-Z Ranked #1 by Teachers. Already being used in nearly half of the school districts in the U.S. <br>
									 and Canada and 155+ countries worldwide, discover how Reading A-Z's affordable, <br>
									 easy-to-use teacher resources fill the teaching gaps left by many reading education programs.
								
							</p>
							<a href="#" class="primary-btn text-uppercase">Buy Now for $9.99</a>
						</div>
						<div class="col-lg-5 banner-right">
							<img class="img-fluid" src="img/header-img.png" alt="">
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	


	<!-- Start course Area -->
	<section class="course-area section-gap" id="course">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-9">
					<div class="title text-center">
						<h1 class="mb-10">Top Book That are open for Students</h1>
						<p>Click on --> to go through them.</p>
					</div>
				</div>
			</div>			
			
			
			<div class="row">
					
				<div class="active-course-carusel">
						<% for (i=0; i < movies.length; i++)  {%>
					
					<div class="single-course item ">
						<img class="img-fluid" src="img/c1.jpg" alt="">
						<p class="sale-btn">For Sale</p>
						<div class="details">
							<a href="#"><h4><%= movies[i].author %> <span class="price float-right"><%= movies[i].genre %></span></h4></a>	
							<p>
									<%= movies[i].title %>
							</p>
						</div>
					</div>

					<% } %>	


											
				</div>	
												
			</div>
				
		</div>	
	</section>
	<!-- End course Area -->
			
			

	<%- include('partials/content.html') %>





			
			<!-- start footer Area -->		
			<%- include('partials/footer.html') %>
    
    
    
    