    <%- include('partials/header.html') %>

    <!-- start banner Area -->
			<section class="banner-area" id="home">	
                    <div class="container">
                        <div class="row fullscreen d-flex align-items-center justify-content-start">
                            <div class="banner-content col-lg-7">
                                	<h3 class="mb-30" style="color:white;">Login Here</h3>
                                    <form method="POST" action="/login">
                                            <div class="mt-10">
                                                <input type="text" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required class="single-input">
                                            </div>
                                            <div class="mt-10">
                                                <input type="text" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input">
                                            </div>
                                           
                                            <br>
                                            <button class=" primary-btn text-uppercase btn-primary btn-large">Log me in</button>
                                    </form>
                             
                            </div>
                            <div class="col-lg-5 banner-right">
                                <img class="img-fluid" src="img/header-img.png" alt="">
                            </div>												
                        </div>
                    </div>
                </section>
                <!-- End banner Area -->	
    
  




    <%- include('partials/footer.html') %>